Real estate email automation/Real_estate_ai_agent__Email_automation.json
{
  "name": "Real estate ai agent: Email and call automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks",
          "mode": "list",
          "cachedResultName": "Contacts_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 554777195,
          "mode": "list",
          "cachedResultName": "Form Responses 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit#gid=554777195"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": "={{ 0 }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "90b89258-bbfd-40da-ad25-3f7ac4af4f35",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "lsI3Bhgh4QL7qOfW",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool is used to send emails",
        "sendTo": "={{ $fromAI(\"emailAddress\", \"the email address we are sending to\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        660,
        340
      ],
      "id": "875f8a80-423d-4372-b467-5c3fd4ce2810",
      "name": "Send Email",
      "webhookId": "4f17c27e-80fa-4be4-893d-85731e661f0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "n04Oj0jODlwJAgBp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Email }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        200
      ],
      "id": "2f9ae067-6f0f-4816-b85d-af77e377057b",
      "name": "Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        180,
        200
      ],
      "id": "31912ff5-5d3e-426e-b119-5c6b8480d257",
      "name": "LLM",
      "credentials": {
        "openAiApi": {
          "id": "zwQFUIIuyLoIJEAK",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $json.Name }} \nEmail: {{ $json.Email }}\nPhone-number: {{ $json['Phone-Num'] }}",
        "options": {
          "systemMessage": "=You are a real estate assistant. When you get Name, email and phone-number from previous step, use the 'send-email' tool to send emails to the specific email address. Email should look like this:\n\"\"\"\nHello {{$json.Name}},\nPlease buy our home in Dubai.\nThanks\n\"\"\"\n---\n\nWhen the email is sent, use the tool:'Google Sheet' and update the rows."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "01e07069-b174-47af-8737-15d0ace641e9",
      "name": "Real Estate AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool is used to update a row in the google sheet.",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks",
          "mode": "list",
          "cachedResultName": "Contacts_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 554777195,
          "mode": "list",
          "cachedResultName": "Form Responses 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit#gid=554777195"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Email": "={{ $json.Email }}",
            "Phone-Num": "={{ $json['Phone-Num'] }}",
            "Email-sent": "True",
            "Call": "False"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone-Num",
              "displayName": "Phone-Num",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-sent",
              "displayName": "Email-sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call",
              "displayName": "Call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        520,
        340
      ],
      "id": "a58ef52a-f98f-4f60-b0cd-ef5367aa41fa",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9vHpaGaPhqpHlMYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks",
          "mode": "list",
          "cachedResultName": "Contacts_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 554777195,
          "mode": "list",
          "cachedResultName": "Form Responses 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y-W4icQdQWpOWkebnRWH_lAuEVWP6y8JRHFJTrpUsks/edit#gid=554777195"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Google Sheets Trigger').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        620,
        0
      ],
      "id": "943dfc04-2887-4c1c-80d0-0a7d031e6a64",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9vHpaGaPhqpHlMYv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name: {{ $json.Name }} \nEmail: {{ $json.Email }}\nPhone-number: {{ $json['Phone-number'] }}\nEmail-sent: {{ $json['Email-sent'] }}\nCall: {{ $json.Call }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2020,
        580
      ],
      "id": "184e1ed1-0359-4f26-83cb-eaaed3a8a96e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        2020,
        760
      ],
      "id": "a4f5f7d7-1e75-460b-b84c-989625a1e8fd",
      "name": "LLM1",
      "credentials": {
        "openAiApi": {
          "id": "zwQFUIIuyLoIJEAK",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Email }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2120,
        760
      ],
      "id": "84489308-14ad-47ff-bccd-4f884299efcc",
      "name": "Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Real Estate AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Real Estate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Real Estate AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Real Estate AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Real Estate AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Real Estate AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3dba5223-7ac6-453e-8032-efe1816428f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0476b7cb12f8673a363591ae08f903b849793b1ac889e1373f8ae3f80df59d2"
  },
  "id": "2DlJwDH9pHzf4ADq",
  "tags": []
}